*
!.gitignore
!README.md
!EULA.md
!update.json
!docs/
!docs/images/
!docs/images/screenshot-apps.jpg
!docs/images/screenshot-apps-actions.jpg
!docs/images/screenshot-automation.jpg
!docs/images/screenshot-settings.jpg
!docs/images/app-icon.png

